{% extends 'base.html' %}
{% block title %}Registrar{% endblock %}

{% block content %}
<div class="login-container card">
    <h2>Registrar</h2>

    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.nome.label }}
            {{ form.nome(class="form-control") }}
            {% if form.nome.errors %}
                <small class="erro">{{ form.nome.errors[0] }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
            {% if form.email.errors %}
                <small class="erro">{{ form.email.errors[0] }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.cpf.label }}
            {{ form.cpf(class="form-control") }}
            {% if form.cpf.errors %}
                <small class="erro">{{ form.cpf.errors[0] }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.nascimento.label }}
            {{ form.nascimento(class="form-control") }}
            {% if form.nascimento.errors %}
                <small class="erro">{{ form.nascimento.errors[0] }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.curso.label }}
            {{ form.curso(class="form-control") }}
            {% if form.curso.errors %}
                <small class="erro">{{ form.curso.errors[0] }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.senha.label }}
            {{ form.senha(class="form-control") }}
            {% if form.senha.errors %}
                <small class="erro">{{ form.senha.errors[0] }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </form>
</div>
{% endblock %}
